---
import { GraphQLClient } from "graphql-request";

const currentPath = Astro.url.pathname;
const client = new GraphQLClient(import.meta.env.HG_ENDPOINT);

const pagesQuery = `
    query MyQuery {
        pages {
            slug
            title
        }
    }
`;

const { pages } = await client.request(pagesQuery);

const navLinks = pages.map((page) => ({
    ...page,
    slug: page.slug.startsWith("/") ? page.slug : `/${page.slug}`,
}));
---

<nav>
    <ul class="flex gap-6">
        {navLinks.map((link) => (
            <li>
                <a
                    href={link.slug}
                    class={`text-xl ${currentPath === link.slug ? 'text-blue-600' : 'text-black'}`}
                >
                    {link.title}
                </a>
            </li>
        ))}
    </ul>
</nav>