---
import { GraphQLClient } from "graphql-request";

const client = new GraphQLClient(import.meta.env.HG_ENDPOINT);
const pagesQuery = `
    query MyQuery {
        pages {
            slug
            title
        }
    }
`;

const { pages } = await client.request(pagesQuery);

const navLinks = pages.map((page) => ({
    ...page,
    slug: page.slug.startsWith("/") ? page.slug : `/${page.slug}`,
}));
---

<nav>
    <ul class="flex gap-6">
        {navLinks.map((link) => (
            <li>
                <a
                    href={link.slug}
                    class="text-xl nav-link"
                >
                    {link.title}
                </a>
            </li>
        ))}
    </ul>
</nav>

<script>
    const currentPath = window.location.pathname;
    const links = document.querySelectorAll('.nav-link');

    links.forEach(link => {
        if (link.getAttribute('href') === currentPath || link.getAttribute('href') === `${currentPath}/`) {
            link.classList.add('text-blue-600');
        } else {
            link.classList.add('black');
        }
    });
</script>